<div class="container">
    <div class="header">
        <h1>
            <a *ngIf="!showDetails" (click)="prevGameDay()"> &lt;- </a>
            <a routerLink="/">{{date.toDateString()}} </a>
            <a *ngIf="!showDetails" (click)="nextGameDay()"> -&gt; </a>
        </h1>
        <ng-container *ngIf="!showDetails">
            <label for="favoriteTeam">Favorite Team</label>
            <!--Two-way Bind favoriteTeam to selection, will automatically update view on new selection-->
            <select id="favoriteTeam" [(ngModel)]="favoriteTeam">
                <option *ngFor="let team of teams" [ngValue]="team">{{team}}</option>
            </select>
        </ng-container>

        <a *ngIf="showDetails" (click)="hideGameDetails()">Return to summary</a>
    </div>
    <ng-container *ngIf="!showDetails; else detailsView">
        <!--Unwrap games observable to check if any were played-->
        <ng-container *ngIf="games$ | async as allGames; else noGames">
            <!--Use ngClass to set favorite team on iteration, then using flexblox order display favorite team first-->
            <div class="indv-game" *ngFor="let game of allGames; let i = index" (click)="showGameDetails(game, i)" [ngClass]="{'favoriteTeam': game.homeTeamName === favoriteTeam || game.awayTeamName === favoriteTeam}">
                <div [ngClass]="{'team-winner' : game.winner === 'h'}">
                    <!--Only display score if linescore object exists (i.e. game wasn't canceled or postponed)-->
                    <span>{{game.homeTeamName}} </span><span *ngIf="game.lineScore">{{game.lineScore.result.home}}</span>
                </div>
                <div [ngClass]="{'team-winner' : game.winner === 'a'}">
                    <span>{{game.awayTeamName}} </span><span *ngIf="game.lineScore">{{game.lineScore.result.away}}</span>
                </div>
                <div>
                    <span>{{game.status}}</span>
                </div>
            </div>
        </ng-container>
    </ng-container>
    <!--Displays when no games are found for day, even if the api request is 404, mlbService returns null and doesn't set games-->
    <ng-template #noGames>
        <p>No Games today</p>
    </ng-template>
    <!--Displays when user clicks specific game div-->
    <ng-template #detailsView>
        <app-gameday-detail *ngIf="boxscore" [boxscore]="boxscore"></app-gameday-detail>
    </ng-template>

</div>