<h1>Pick Date to See Games</h1>
<form>
    <mat-form-field>
        <input #userDate='ngModel' matInput [(ngModel)]="date" name="datepicker" [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button (click)="seeGamesOfDate()">See Games</button>
    <div *ngIf="userDate.touched && userDate.invalid" class="error">
        Please pick date from the date picker or enter in form DD/MM/YYYY
    </div>
</form>